$grayDark: hsl(0, 0%, 13%);
$grayMiddle: hsl(0, 0%, 33%);
$grayLight: hsl(0, 0%, 50%);
$greenDark: hsl(165, 100%, 27%);
$greenLight: hsl(165, 100%, 37%);
$red: hsl(6, 78%, 47%);
$white: hsl(0, 0%, 100%);
